<div class="grid grid-rows-3 grid-cols-3 gap-5">
  <app-info-amount-card
    [title]="'REVENUS'"
    [amount]="revenuesAmount"
    class="row-start-1 col-start-1"
  ></app-info-amount-card>
  <app-info-amount-card
    [title]="'DEPENSES FIXES'"
    [amount]="fixedExpensesTotalAmount"
    class="row-start-1 col-start-2"
  ></app-info-amount-card>
  <app-info-amount-card
    [title]="'EPARGNES MENSUELLE'"
    [amount]="600"
    class="row-start-2 col-start-1"
  ></app-info-amount-card>
  <app-info-amount-card
    [title]="'DETTES EN COURS'"
    [amount]="creditTotalAmount"
    class="row-start-2 col-start-2"
  ></app-info-amount-card>
  <app-repartition-diagram
    class="row-start-1 row-end-3 col-start-3 self-stretch flex"
  ></app-repartition-diagram>
</div>
